<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">

    <test name="Test on Chrome browser">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="DetailsTests"></class>
            <class name="ShoppingCartTests"></class>
        </classes>
    </test>

    <test name="Test on Firefox browser">
        <parameter name="browserName" value="Firefox"></parameter>
        <classes>
            <class name="DetailsTests"></class>
            <class name="ShoppingCartTests"></class>
        </classes>
    </test>
</suite>